$main-color: #ffd000;

@font-face {
    font-family: "MuseoModerno";
    src: url("../fonts/MuseoModerno-VariableFont_wght.ttf");
}

body,
html,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "MuseoModerno", semibold;
}

h1, h2, h3 {
    margin: 8px 16px;
}

a,
link {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: inherit;
}

.AppContainer {
    display: flex;
    flex-direction: column;
}

.App {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex:1
}

.menuContainer {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.personalDataContainer {
    text-align: center;
}

.linksIconsSocial {
    display: flex;
    justify-content: space-around;
}

.linksIconsStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stackIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p,
    div {
        font-size: 0.7rem;
        margin: 8px 10px;
    }

    svg {
        font-size: 1.5rem;
        height: 1em;
        width: 1em;

        g {
            fill: black;

            path:last-child {
                fill: black;
            }

        }

    }

}
.projectsMenuContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;

    .projectMenuColumn {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.5rem;
    }
}

.projectNameContainer {
    margin-bottom: 0.5vw;
    border-bottom: 2px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsContainer {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-self: center;
    text-align: center;
    border-left: 2px solid black;
}

.projectContainer {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.linksIcons {
    display: flex;
    justify-content: center;
}

.menuProjectIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    h2 {
        margin: 0px 10px;
    }

    p,
    div {
        font-size: 0.7rem;
        margin: 0px 10px;
    }
}

.gallery {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    img {
        margin: 5px;
        max-width: 15%;
        max-height: 80%;
    }

}

.galleryHorizontal {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    img {
        margin: 5px;
        max-width: 50%;
        max-height: 80%;
    }

}

.containerFooterHorizontal {
    display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
    .App {
        box-sizing: border-box;
        flex-direction: column;
        width: 90vw;
        min-height: 100vh;
        align-self: center;
    }

    .menuContainer {
        width: 100%;
        height: auto;
    }

    .projectsContainer {
        width: 100%;
    }

    .projectsContainer {
        border: none;
    }

    .projectContainer {
        height: auto;
        overflow: visible;
    }

    .gallery {

        img {
            max-width: 75%;
        }
    }

    .galleryHorizontal {

        img {
            max-width: 75%;
        }
    }

}